<?php
$config_mentor=[
	'user'=>'',
	'pass'=>'',
	'storypoint'=>'customfield_10022',
	'sprint'=>'customfield_11040',
	'version'=> 'none',
	'url'=>'https://jira.alm.mentorg.com'
	];

	
$config_atlassian=[
	'user'=>'',
	'pass'=>'',
	'storypoint'=>'customfield_10004',
	'sprint'=>'customfield_10007',
	'url'=>'https://mentorgraphics.atlassian.net',
	'version'=> 'none'
	];
